body{
    background-color: darkslategray;
    font-family: 'Open Sans', sans-serif;
}
path{
    transition: 0.3s;
    fill: rgb(129, 177, 153);
}
.liste .is-active p{
    font-size: 25px;
    color: rgb(107, 45, 41);
    font-weight: 900;
    text-decoration: none;
    transition: color 0.7s;
    transition: font-size 0.7s;
}
.carte .is-active path{
    fill: rgb(41, 107, 74);
    transition: fill 0.9s;
}

/* 700 */
.titre{
    text-align: center;
}
h1{
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
}
h3{
    padding-top: 40px;
    padding-bottom: 20px;
}
p{
    margin-bottom: 0.2rem;
}
ul{
    list-style-type: none;
    padding-left: 0;
}
.liste{
    text-align: center;
}
.carte700{
    color: white;
    display: block;
}
.carte500{
    display: none;
}
.carte300{
    display: none;
}
/* 500 */
@media screen and (max-width: 800px) {

    .carte700{
        display: none;
    }
    .carte500{
        color: white;
        display: block;
    }
    .carte300{
        display: none;
    }
}
/* 300 */
@media screen and (max-width: 640px) {

    .carte700{
        display: none;
    }
    .carte500{
        display: none;
    }
    .carte300{
        color: white;
        display: block;
    }
}



  .description {
    pointer-events: none;
    position: absolute;
    font-size: 18px;
    text-align: center;
    background: white;
    padding: 10px 15px;
    z-index: 5;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    color: #21669e;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #eee;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: none;
  }
  .description.active {
    display: block;
  }
  .description:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    width: 0;
    height: 0;
    margin-left: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
  }

/* 
  #path2106{
      display: none;
  } */